@font-face {
  font-family: "DMSans";
  src: url("fonts/DMSans-Regular.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf");
}

header {
  font-family: "DMSans";
  font-weight: 700;
  font-size: 22px;
  color: #d04f4f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

h1 {
  margin-top: 5px;
}

/* clears the ‘X’ on input fields */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input:focus {
  outline: none;
}

.global-search-bar {
  background: #e7e7e7;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.global-search-input {
  border: none;
  background-color: #e7e7e7;
  width: 100%;
  font-family: "Lato";
}

.global-search-input::placeholder {
  font-family: "Lato";
}

main {
  margin-bottom: 40px;
}

.tags-search-section {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  position: absolute;
}

.ingredients-search-block,
.appliances-search-block,
.utensils-search-block {
  margin-right: 20px;
  color: white;
  border-radius: 5px;
  height: fit-content;
  width: fit-content;
}

.ingredients-search-block > div:nth-child(1),
.appliances-search-block > div:nth-child(1),
.utensils-search-block > div:nth-child(1) {
  display: flex;
  height: 69px;
  width: fit-content;
  align-items: center;
}

.ingredients-search-block img,
.appliances-search-block img,
.utensils-search-block img {
  height: 10px;
  width: 16px;
  margin-right: 10px;
}

.ingredients-search-input,
.appliances-search-input,
.utensils-search-input {
  border: none;
  color: white;
  font-family: "Lato";
  font-weight: 700;
  font-size: 18px;
  width: 134px;
  margin-left: 10px;
}

.ingredients-search-input:focus + img,
.appliances-search-input:focus + img,
.utensils-search-input:focus + img {
  transform: rotate(180deg);
}

.ingredients-search-input::placeholder,
.appliances-search-input::placeholder,
.utensils-search-input::placeholder {
  color: white;
  font-family: "Lato";
  font-weight: 700;
  font-size: 18px;
}
.ingredients-search-input:focus::placeholder,
.appliances-search-input:focus::placeholder,
.utensils-search-input:focus::placeholder {
  opacity: 0.5;
}

.ingredients-search-block,
.ingredients-search-input {
  background: #3282f7;
}

.appliances-search-block,
.appliances-search-input {
  background: #68d9a4;
}

.utensils-search-block,
.utensils-search-input {
  background: #ed6454;
}

.tags-block {
  display: none;
  color: white;
  font-family: "Lato";
  font-size: 18px;
  list-style: none;
  max-height: 1300px;
  max-width: 700px;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 0 15px 0;
  margin: 0;
}

.tags-block li {
  margin: 5px 10px 5px 20px;
  width: fit-content;
  cursor: pointer;
}

.tag-input-bigger {
  width: 200px;
}

.tag-input-way-bigger {
  width: 700px;
}

.chosen-tags-block{
  margin: 0 5% 20px 5%;
  display: flex;
}

.chosen-tag{
  margin-right:20px;
  display: flex;
  align-items: center;
  height: fit-content;
  width: fit-content;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-family: "Lato";
  font-size: 14px;
}

.chosen-tag div {
  margin-right: 10px;
}

.chosen-tag img {
  cursor: pointer
}

.ingredient-chosen-tag{
  background: #3282f7;
}

.appliance-chosen-tag{
  background:#68d9a4;
}

.utensil-chosen-tag{
  background: #ed6454;
}


/* recipes block*/

#recipes-block {
  display: flex;
  flex-wrap: wrap;
  margin: 130px 5% 0 5%;
  justify-content: space-between;
}

.recipe-card {
  height: 364px;
  width: 380px;
  border-radius: 5px;
  background: #e7e7e7;
  margin: 0 0 40px 0;
  font-family: "Lato";
}

.empty-photo {
  width: 380px;
  height: 178px;
  background: #c7bebe;
  border-radius: 5px 5px 0 0;
}

.recipe-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.recipe-name {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.duration {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.duration span {
  margin-left: 10px;
}

.recipe-body {
  display: flex;
  justify-content: space-between;
  margin: 0 18px 40px 20px;
}

.recipe-ingredients-block {
  width: 50%;
  font-size: 12px;
}

.recipe-ingredients-block ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recipe-ingredients-block span {
  font-weight: 700;
}

.description {
  font-family: "Roboto";
  font-size: 12px;
  width: 50%;
}
